body{
	padding: 0px;
}

.custom-restricted-width{
	background-color: #2d3436;
	width: 200px;
	height: 100vh;
	float: left;
	position: relative;
	margin: 0px;
}

.pure-menu-heading{
	font-style: bold;
	padding: 15px 10px;
	border-bottom: 1px solid #636e72;
}

.pure-menu-heading a{
	text-decoration: none;
	color: #dfe6e9;
}

.content{
	position: relative;
	float: left;
	padding: 10px;
}