<div class="pure-menu custom-restricted-width">
    <span class="pure-menu-heading">
    	{{#link-to 'index'}}Ember Quick-Start{{/link-to}}
    </span>

    <ul class="pure-menu-list">
        <li class="pure-menu-item">
        	{{#link-to 'cars' class='pure-menu-link'}}
        		Cars
        	{{/link-to}}
        </li>
        <li class="pure-menu-item">
        	{{#link-to 'scientists' class='pure-menu-link'}}
        		Scientists
        	{{/link-to}}
        </li>
    </ul>
</div>

<div class="content">
	<h1>My First Application in Ember</h1>

	{{outlet}}
</div>

