<div class="pure-menu custom-restricted-width">
    <span class="pure-menu-heading">Ember Quick-Start</span>

    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Cars</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Scientists</a></li>
    </ul>
</div>

<div class="content">
	<h1>My First Application in Ember</h1>

	{{outlet}}
</div>

